html,
body {
    width: 100%;
    height: 100%;
}

:root{
    --primary-fond: 'Roboto', sans-serif;
    --logo-fond: 'Raleway', sans-serif;
    --accent-color: #2196F3 ;
    --title-text-color: #212121;
    --main-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);
    
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}


/* -------утилита_____ */

.list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ____________Логотип_____ */

.logo {
    font-family: var(--logo-fond);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
}

.logo-accent {
    font-family: var(--logo-fond);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.menu-link.current {
    color: var(--accent-color);
}


.current {
    position: relative;

}


.current-page::after {
    position: absolute;
    content: "";

    bottom: -32px;
    left: 0;
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
   
   
}

.current-page {
    color: var(--accent-color);
}



/* ________контакты_____ */

.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);

}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.page-header-container {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    text-decoration: none;
}

.logo {
    margin-right: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}
.page-menu-contact:not(:last-child) {
    margin-right: 50px;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.contact-icon {
    fill: currentColor;
    padding: 0;
    border: 0;
    transition: fill 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover .contact-icon,
.contact-item:focus .contact-icon {
    fill: currentColor;

}


/* __________Секция герой______________ */

.hero-section {
    background-color: #C4C4C4 ;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;

}

.hero-item {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) , rgba(47, 48, 58, 0.4)) ,
    url(../images/hero/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.modal-btn {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--accent-color);
    font-family: var(--primary-fond);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    display: inline-block;
    border: #2196F3;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 255mc cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188ce8;
    color: #FFFFFF ;
}

/* __________скрытая_секция_______ */

.subject {
    color: var(--title-text-color);
    list-style: none;
}

.subject {
    display: flex;
    gap: 30px;
}

.subject-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.subject-desc {
    width: 270px;
}

.subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.discription {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    width: 270px;
    height: 75px;
}


/* _____________________следующая секция чем занимаемся______ */

.section-work{
    padding-bottom: 94px;
}


.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.title-desc {
    display: flex;
    list-style: none;
    gap: 30px;
}

.product-work {
    position: relative;

}

.titel-product{
    display: inline-block;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom: 0;


}

.titel-product-work {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
    

}


/* ________________________________________________ */


.name-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 14px;
}

.jobtitle-section {
    background-color: #F5F4FA;

}

.jobtitle {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.jobtitle-team {
    list-style: none;
    display: flex;
    gap: 30px;
}

.jobtitle-card {
    flex-basis: calc((100%-90px)/4);
}

.jobtitle-card-team {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.work {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 255mc cubic-bezier(0.4, 0, 0.2, 1);
    
}

.social-list-icon {
    transition: fill 255mc cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #2196F3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: #FFFFFF;
}



.social-list-icon {
    fill: #AFB1B8;
}

/* ______________Постоянные клинные ________ */

.section-clients {
    padding-top: 94px;
    padding-bottom: 88px;
}

.icon-clients {
    fill: #AFB1B8;
    width: 106px;
    height: 60px;
}

.icon-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
    transition: fill 255mc cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-clients-link:hover .icon-clients,
.icon-clients-link:focus .icon-clients {
    fill: var(--accent-color);
}

.icon-clients-text .icon-clients-link:hover ,
.icon-clients-text .icon-clients-link:focus {
    border-color: var(--accent-color);
}


/* ______________footer_index_____ */

footer {
    list-style: none;
    font-style: normal;
}

.footer-all {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo-dark {
    font-family: var(--logo-fond);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer .contact-footer:hover,
.footer .contact-footer:focus {
    color: var(--accent-color);
}

.contact-info:hover,
.contact-info:focus {
    color: var(--accent-color);
}

.address-footer {
    display: flex;
    align-items: baseline;
}

.footer-block-address {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.contact-footer {
    font-family: var(--primary-fond);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--footer-color);
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info {
    font-family: var(--primary-fond);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: none;
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-dark {
    display: block;
    margin-bottom: 20px;
}

.footer-adress:not(:last-child) {
    margin-bottom: 9px;
}

.messenger-block {
    width: 206px;
    height: 80px;
}

.title-messenger-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF
}

.icon-messenger-footer {
    fill: #FFFFFF;
}

.list-messenger {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.icon-messenger-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-messenger-link-footer:hover,
.icon-messenger-link-footer:focus {
    background-color: var(--accent-color);
}


/* ________Модальное окно______________ */

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 255mc cubic-bezier(0.4, 0, 0.2, 1), visibility 255mc cubic-bezier(0.4, 0, 0.2, 1) ;

}

.modal {
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;

    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}



/* ______________PORTFOLIO____________ */



.header-portf {
    border: 1px solid #ECECEC;
}

h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.sectionport {
    color: #E5E5E5;
    padding-top: 94px;
}


.port-button {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
    justify-content: center;
    padding: 0 0;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.main-btn {
    font-family: var(--primary-fond);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    background: #F5F4FA;
    border-radius: 3px;
    border: #F5F4FA;
    padding: 6px 22px;
    cursor: pointer;
    transition: box-shadow 255mc cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 255mc cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 255mc cubic-bezier(0.4, 0, 0.2, 1);

}

.main-btn:hover,
.main-btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
    
}

/* __________портфолио__________ */



.project-name-portf{
    font-family: var(--primary-fond);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-it {
    font-family: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 4px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}

.project-portf {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
}

.project {
    transition: box-shadow 255mc cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio .project:hover ,
.portfolio .project:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

/* __________оформление карточек_____________ */


.project-link {
    text-decoration: none;
    position: relative;
}

.product-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    padding-right: 24px;
    padding-left: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 255mc cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
    transform: translate(0, 0);
}


