.footer-block-address__link-adress {
    display: block;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-block-address__link-adress {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

}

@media screen and (min-width: 1200px) {
    .footer-block-address__link-adress {
        text-align: left;
    }

}

.form-block-footer__form-footer {
    display: block;
}

footer {
    list-style: none;
    font-style: normal;
}

.footer-all {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}

.footer-block {
    display: inline-block;
    max-width: 232px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    .footer-block {
        margin-bottom: 0;
    }

}

.logo__dark {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
}

.logo__dark {
    font-family: var(--logo-fond);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo__accent{
    color: #2196F3;
}

.footer__info {
    font-family: var(--primary-fond);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-transform: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.footer__adress:not(:last-child) {
    margin-bottom: 9px;
}


.address-footer {
    display: flex;
    align-items: baseline;
}



.footer-block-address {
    display: flex;
    align-items: baseline;
    // gap: 70px;
}

@media screen and (min-width: 1200px) {
    .footer-block-address {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}

.messenger-block {
    margin-bottom: 60px;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .messenger-block {
        margin-left: 70px;
        text-align: left;
    }
}

.list-messenger {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}


.messenger-block__title-messenger-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF
}

// .messenger-block {
//     width: 206px;
//     height: 80px;
// }

.list-messenger__icon-messenger-footer {
    fill: #FFFFFF;
}



.list-messenger__icon-messenger-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }


}


/* ______подпишись на рассылку____ */

.form-block-footer {
    text-align: center;
    text-decoration: none;
}

// .form-block-footer {
//     width: 570px;
//     height: 86px;
//     align-items: center;
//     margin-left: auto;
//     text-decoration: none;
// }

@media screen and (min-width: 1200px) {
    .form-block-footer {
        margin-left: auto;
        text-align: left;
    }

}


.form-block-footer__form-titel-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.form-block-footer__form-footer {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        text-decoration: column;
        text-align: center;

    }

    @media screen and (min-width: 1200px) {
        display: block;
    }
}





.form-block-footer__footer-form-input {
    width: 100%;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #EEEEEE;
    padding: 15px 16px;
    background-color: rgba(47, 48, 58, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin-bottom: 20px;

    &:focus {
            outline: none;
            border-color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
            width: 358px;
        }




}



.form-block-footer__form-btn-footer {
    position: relative;
    // margin-left: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;

    background-color: var(--accent-color);
    border-radius: 4px;

    display: inline-block;
    border: #2196F3;
    cursor: pointer;
    padding-left: 29px;
    padding-right: 62px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: #188ce8;
            color: #FFFFFF;
        }
}


.form-block-footer__footer-icon-send {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}