:root {
    --primary-fond: 'Roboto', sans-serif;
    --logo-fond: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --main-color: #757575;
    --footer-color: rgba(255, 255, 255, 0.6);

}